@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 10, 10, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)));
}

a {
  color: #60a5fa;
  text-decoration: none;
}

button {
  transition: transform 0.1s ease-in-out;
}

button:active {
  transform: scale(0.98);
}
